.element__like_btn {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 22px;
  height: 19px;
  align-self:center;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.element__like_btn:hover {
  opacity: 0.5;
}
