.header {
  max-width: 880px;
  height: 74px;
  margin: 45px auto 0;
  padding: 0;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 966px) {
  .header {
    max-width: 600px;
    height: 56px;
    margin: 28px auto 0;
  }
}

@media screen and (max-width: 583px) {
  .header {
    max-width: 282px;
  }
}
