.popup__close-btn {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close_icon.svg);
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 32px;
  object-fit: cover;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  transition: opacity .5s linear;
  cursor: pointer;
}

.popup__close-btn {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 966px) {
	.popup__close-btn {
		width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    background-size: 20px;
	}
}
